.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 50px;
}

.image-item img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.2s;
}

.image-item img:hover {
    transform: scale(1.1);
}
